.moviesCard {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  background-color: rgba(34, 34, 34, 1);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

@media only screen and (max-width: 767px){
.moviesCard {
    margin-bottom: -8px;
    max-width: 300px;
}
}

@media only screen and (max-width: 767px) {
  .moviesCard {
    max-width: 300px;
  }
}

.moviesCard__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 18px;
}

@media only screen and (max-width: 767px) {
  .moviesCard__description {
    margin-top: 14px;
  margin-bottom: 14px;
  }
}

.moviesCard__description__name {
  margin: 0;
  padding: 0;
  margin-left: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 767px) {
  .moviesCard__description__name {
    font-size: 12px;
  }
}

.moviesCard__description__time {
  margin: 0;
  padding: 0;
  margin-right: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: rgba(139, 139, 139, 1);
}

@media only screen and (max-width: 767px) {
  .moviesCard__description__time {
    font-size: 10px;
  }
}

.moviesCard__container-image {
  width: 100%;
  object-fit: contain;
  height: 200px;
  
}

.moviesCard__button {
  display: flex;
  border: none;
  outline: none;
  background: none;
  background-image: url(../../images/save6d.svg);
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  width: 100px;
  height: 29px;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 18px;
}

.savedMoviesCard .moviesCard__button {
  background-image: url(../../images/d6.svg);
}

@media only screen and (max-width: 767px) {
  .moviesCard__button {
    margin-top: 14px;
  margin-bottom: 14px;
  }
}