.portfolio {
  display: flex;
  flex-direction: column;
  padding-bottom: 125px;
  background-color: #202020;
  max-width: 1140px;
    margin: auto;
}

@media only screen and (max-width: 1279px) {
  .portfolio {
    max-width: 668px;
    padding-bottom: 90px;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio {
    max-width: 292px;
    padding-bottom: 70px;
  }
}

.portfolio__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  width: 1140px;
}

@media only screen and (max-width: 767px) {
  .portfolio__title {
    max-width: 292px;
  }
}


.portfolio__container {
  display: grid;
  grid-template-rows: 60px 1px 60px 1px 60px;
  padding-top: 70px;
  max-width: 1140px;
}

@media only screen and (max-width: 1279px) {
  .portfolio__container {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio__container {
    padding-top: 40px;
  }
}


.portfolio__item {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .portfolio__item {
    height: auto;
    margin-top: 19px;
    margin-bottom: 19px;
  }
}

.portfolio__line {
  height: 1px;
  background-color: #424242;
}

@media only screen and (max-width: 767px) {
  .portfolio__line {
   background-color: rgba(230, 230, 230, 1);
  }
}

.portfolio__item__title{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -4%;
}

@media only screen and (max-width: 1279px) {
  .portfolio__item__title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio__item__title {
    font-size: 18px;
    line-height: 28px;
  }
}

.portfolio__item__link{
  background-image: url('../../images/arrow.svg');
  width: 26px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}