.navigation__container{
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.navigation__link{
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__link:first-child {
  margin-right: 20px;
}

.navigation__profile{
display: flex;
flex-direction: row;
align-items: center;
margin-left: 50px;
}

.navigation__profile__text{
margin: 0;
padding: 0;
font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.navigation__profile__icon{
background-image: url(../../images/icon__COLOR_icon-main.svg);
width: 10.5px;
height: 10.5px;
background-size: contain;
margin: auto;
}

.navigation__profile__icon-container{
  width: 30px;
  height: 30px;
  display: flex;
align-items: center;
margin-left: 13px;
background-color: rgba(49, 49, 49, 1);
border-radius: 6px;
}

.navigation__profile__icon-container-main{
  width: 30px;
  height: 30px;
  display: flex;
align-items: center;
margin-left: 13px;
background-color: rgba(15, 65, 87, 1);
border-radius: 6px;
}