.about-project {
  display: flex;
  flex-direction: column;
  padding-bottom: 140px;
  max-width: 1140px;
  margin: auto;
}

@media only screen and (max-width: 1279px) {
  .about-project {
    max-width: 668px;
    padding-bottom: 106px;
  }
}

.about-project__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  letter-spacing: -4%;
  margin-top: 110px;
  margin-bottom: 23px;
}

.about-project__container {
  border-top: 1px solid #DADADA;
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  max-width: 1140px;
  justify-content: space-between;
}

.about-project__container__table {
  margin: 0;
  padding: 0;
  width: 500px;
}

@media only screen and (max-width: 1279px) {
  .about-project__container__table {
    max-width: 319px;
    margin: 0;
  }
}

.about-project__container__table__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: -4%;
}

.about-project__container__table__subtitle {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 26px;
  margin-bottom: 110px;
}

@media only screen and (max-width: 1279px) {
  .about-project__container__table__subtitle {
    line-height: 18px;
    margin-top: 22px;
    margin-bottom: 100px;
  }
}

.about-project__time {
  display: flex;
  flex-direction: row;
  height: 36px;
  align-items: center;
}

.about-project__time-discription-one {
  margin: 0;
  padding: 0;
  min-width: 228px;
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 1279px) {
  .about-project__time-discription-one {
    min-width: 140px;
  }
}

.about-project__time-discription-four {
  margin: 0;
  padding: 0;
  min-width: 912px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 1279px) {
  .about-project__time-discription-four {
    min-width: 528px;
  }
}

.about-project__time-backend{
  margin: 0;
  padding: 0;
  color: #8B8B8B;
  margin-top: 14px;
}

.about-project__time-frontend{
  margin: 0;
  padding: 0;
  color: #8B8B8B;
  margin-top: 14px;
}


.about-project__time-week{
  margin: 0;
  padding: 0;
  background-color: #3DDC84;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__time-month{
  margin: 0;
  padding: 0;
  background-color: #303030;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}