.aboutMe {
  display: flex;
  flex-direction: column;
  padding-bottom: 101px;
  background-color: #202020;
  max-width: 1140px;
  margin: auto;
}

@media only screen and (max-width: 1279px) {
  .aboutMe {
    max-width: 668px;
    padding-bottom: 91px;
  }
}

.aboutMe__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  letter-spacing: -4%;
  margin-top: 100px;
  margin-bottom: 23px;
}

.aboutMe__container {
  border-top: 1px solid #DADADA;
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  justify-content: space-between;
}

.aboutMe__container__table {
  margin: 0;
  padding: 0;
  max-width: 600px;
}

@media only screen and (max-width: 1279px) {
  .aboutMe__container__table {
    max-width: 364px;
  }
}

.aboutMe__container__table__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -4%;
}

@media only screen and (max-width: 1279px) {
  .aboutMe__container__table__title {
    font-size: 40px;
    line-height: 40px;
  }
}

.aboutMe__container__table__subtitle {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -4%;
  margin-top: 18px;
  margin-bottom: 26px;
}

@media only screen and (max-width: 1279px) {
  .aboutMe__container__table__subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-top: 16px;
  margin-bottom: 20px;
  }
}

.aboutMe__container__table__description {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@media only screen and (max-width: 1279px) {
  .aboutMe__container__table__description {
    font-size: 12px;
    line-height: 18px;
  }
}

.aboutMe__container__link {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  text-decoration: none;
  color: white;
  margin-top: 99px;
}

@media only screen and (max-width: 1279px) {
  .aboutMe__container__link {
    margin-top: 87px;
  }
}

.aboutMe__container__avatar{
  width: 270px;
  border-radius: 10px;
  object-fit: contain;
}

@media only screen and (max-width: 1279px) {
  .aboutMe__container__avatar {
    width: 255px;
    height: 307px;
  }
}

@media only screen and (max-width: 767px) {
  .aboutMe__container__avatar {
    width: 292px;
  }
}